<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
     <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/statusstyle.css"/>
</head>
<body>
 <div class="status-table">
      <table>
        <tr>
          <th>Party Name</th>
          <th>Number of Votes</th>
        </tr>
        <tr>
          <td>AWL</td>
          <td>{{ awl }}</td>
        </tr>
        <tr>
          <td>BNP</td>
          <td>{{ bnp }}</td>
        </tr>
        <tr>
          <td>Neutral</td>
          <td>{{ neutral }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ total }}</td>
        </tr>
      </table>
    </div>
</body>
</html>